PORT=9000
API_TOKEN=replace-with-secure-token

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_NAME=lendsqr_wallet
DB_POOL_MAX=10

ADJUTOR_BASE_URL=https://adjutor.lendsqr.com
ADJUTOR_API_KEY=replace-with-adjutor-key
ADJUTOR_TIMEOUT_MS=5000

DOCS_UI_ENABLED=true